@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

// variables
@import './configs/variables';

// COMPONENTS
@import './components/main';
@import './components/time';
@import './components/navbar';
@import './components/footer';

// ICONS
@import './icons/remixicon';

body {
    margin: 0;
    padding: 0;
    background-color: rgb(237, 234, 234);
}
p {
    margin: 0;
    padding: 0;
}

.text-decoration-none {
    text-decoration: none;
}